<!DOCTYPE html>
   <head>
      <title>intelliSAR Home</title>
      <link rel="stylesheet" href='../static/master.css'/>
   </head>

   <body>
   
   <h1>
   <a href="/temp">Temperature Sensor</a> 
   </br>   </h1>

   <h1> <a href="motor">Motor</a> </h1>

   <!--

   <div class="tempSensor">
     <iframe frameborder="0" src="http://192.168.199.142/temp" width="100%" height="50%" style="border:none;">
</iframe>
   </div>

		
   <div class="motor">
     <iframe frameborder="0" src="http://192.168.199.142/motor" width="100%" height="50%" style="border:none;">
</iframe>
   </div>
   
   -->
   
   <a href = 


   </body>
</html>
