<!DOCTYPE html>
<head>
    <title>Temperature Control</title>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

    <link rel="stylesheet" href='../static/master.css'/>

    <link rel="stylesheet" type="text/css" href="../static/tests.css">
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="../static/epoch.js"></script>
    <script src="../static/data.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/epoch.css">

    <script>
    var nextTime = (function () {
    var currentTime = parseInt(new Date().getTime() / 1000);
    return function () {
    return currentTime++;
    }
    })();

    var start = function () {
    interval = setInterval(updateSensorData, 1000);
    updateSensorData();
    }
    </script>
</head>

<body onload="start()">

<!--
<h1>JASON</h1>
<h3> time ==> {{ time }}</h3>
<h3> temp ==> {{ temp }}</h3>
<h3> humi ==> {{ humi }}</h3>
-->

<div id="test-6" class="test">
    <h2>Temperature & Humidity </h2>

    <div class="epoch"></div>

</div>

<!-- <button onclick="createGame()">Create Game</button> -->


<script>
    <!--

    var socket = io();


    socket.on('connect', function () {
        console.log('Websocket connected!');
    });


    var data = [
        {label: 'A', values: []},
        {label: 'B', values: []},
    ];


    var chart = $('#test-6 .epoch').epoch({
        type: 'time.line',
        data: data,
        axes: ['right', 'bottom'],
        //domain: [0, 2*Math.PI],
        range: [0, 100],
        //margins: { top: 40, right: 40, bottom: 40, left: 400 },
        //width: 600,
        //height: 240
    });

    chart.option('ticks', {time: 5, right: 5});


    var updateSensorData = function (templateData) {
        //console.log('client request sensor data from server');
        socket.emit('update_event', {k1: 'v1', k2: 'v2'});
        //console.log('client requested')
    }


    socket.on('receiveSensorData', function (templateData) {

        console.log('client received sensor data from server' + templateData);
        console.log(templateData);

        time = nextTime();
        console.log(time)

        chart.push([
            {time: time, y: templateData.temp},
            {time: time, y: templateData.humi}
        ]);
    });


    -->
</script>


</body>
</html>
